doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    block style
    block app
  body
    #body.container
      block content
      footer(id="footer")
        hr
        a(href="https://github.com/jelovirt/pdf-generator") About
        | &#xA0;|&#xA0;
        a(href="https://github.com/jelovirt/pdf-generator/issues") Feedback
        | &#xA0;|
        | Developed by <a href="http://fi.linkedin.com/in/jelovirt">Jarno Elovirta</a>
        a(href="http://fi.linkedin.com/in/jelovirt")
          img(src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x25.png", width="160", height="25", border="0", style="vertical-align:middle", alt="View Jarno Elovirta's profile on LinkedIn")
        |&#xA0;
        form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
          input(type="hidden", name="cmd", value="_s-xclick")
          input(type="hidden", name="hosted_button_id", value="9A4CECNXZZYUN")
          input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif", border="0", name="submit", alt="Donate", title="Donate to support DITA-OT PDF plugin generation", style="display:inline;margin-bottom:-8px;height:24px")
          img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-2665281-9', 'auto');
      ga('send', 'pageview');
