extends layout

block style
  link(rel='stylesheet', href='/stylesheets/patron.css')

block app
  script(src="/javascripts/patron.js", type="text/javascript")

block content
  header(id="header")
    h1
      a(href=rootUrl)= title
  main(id="content")
    p#loading Loading...
